.login {

    background-image: url('/login-bcg.jpeg');
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 35px;

    .logo-set {
        color: white;
        display: flex;
        align-items: center;
        gap: 13px;
    }

    .panel {
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 34px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding:5% 5%;
        width:640px;
        margin: 0 5% 0 50%;

        @media (max-width: 1342px) {
            margin:0 5% 0 45%;
        }

        @media (max-width: 1245px) {
            margin: 0 5% 0 40%;
        }

        @media (max-width: 1125px) {
            margin: 0 5% 0 35%;
        }

        @media (max-width: 1040px) {
            margin: 35px auto;
        }

        input {
            color: white;
            border: 0;
            border-bottom: 1px solid white;
            background-color: rgba(0, 0, 0, 0);

            &::placeholder {
                color: white;
            }

            padding:9px 0;
        }

        .issue {
            display: flex;
            justify-content: space-between;
            margin-top:50px;

            button {
                background-color: white;
                color: black;
                font-size: larger;
                font-weight: 600;
                border-radius: 15px;
                width: 204px;
                height: 72px;
                letter-spacing: 0.025em;
            }

            div {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 10px;
            }
        }

        .social-login{
            display: flex;
            gap: 75px;
            margin-top:35px;
            justify-content: center;
            align-items: center;
        }

    }

}