.edit {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    //뒷배경 스크롤 없게 하려구
    position: fixed;
    top: 0;
    left: 0;

    .left {
        background-image: url('/background.png');
        background-size: cover;
        height: 100vh;
        width: 50%;

        .selectionframe{
            padding: 27px 12%;
        }

        .selection{
            display: flex;
            gap:10px;
            font-family: pretendardMedium;
            button{
                background-color: rgba(0,0,0,0);
                border:0;
                color:#fff;
                padding:4px;
                font-size:19px;
                opacity: 0.8;
                padding-bottom:8px;
            }
            .selected{
                // padding-bottom:4px;
                // border-bottom: 4px solid #fff;
                opacity: 1;
                font-family: pretendardSemibold;
            }
        }

        .underline{
            width: 48px;
            height: 2px;
            left: 4.5px;
            top:-4px;
            background-color: #fff;
            position: relative;
        }

        .panel{
            width: 80%;
            height: 78%;
            margin: 47px 8% 0 12%;
            background-color: rgba(0,0,0,0.6);
            border-radius: 20px;
            color:#fff;

            p {
                width: 100%;
                height: 100%;
                font-size: large;
                font-family: pretendardMedium;
                white-space: pre-line;
               
            }

            .frame {
                width:  100%;
                height: 100%;
                padding:  3.611vw  0vw  3.611vw  0vw;
            }

            .scrollframe {
                width:  100%;
                height: 100%;
                padding:  0vw  3.611vw  0vw  3.611vw;
                overflow: auto;
            }

            .scrollframe::-webkit-scrollbar {
                width: 8px; /* 수직 스크롤바 너비 */
                height: 50px;
                left: 100px;
              }
              
              /* 스크롤바 트랙 스타일링 */
              .scrollframe::-webkit-scrollbar-track {
                visibility:hidden;
              }
              
              /* 스크롤바 썸네일(토글) 스타일링 */
              .scrollframe::-webkit-scrollbar-thumb {
                background: rgba(255, 255, 255, 0.6); /* 스크롤바 썸네일 색상 */
                border-radius: 100px; /* 스크롤바 썸네일 모서리 둥글기 */
              }
              
              /* 스크롤바 썸네일(토글) 호버 스타일링 */
              .scrollframe::-webkit-scrollbar-thumb:hover {
                background: #fff; /* 스크롤바 썸네일 호버 시 색상 */
              }

        }


        .audio{
            display: flex;
            flex-direction: column;
            gap:10px;
            width: 80%;
            margin:75% 10% 0 10%;
            height:25%;

            .header{
                color:white;
                display: flex;
                gap:20px;
                align-items: center;

                div{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    h4{
                        color:rgba(#fff, 0.6);
                    }
                }
            }

            .time{
                display: flex;
                justify-content: space-between;
                color:#fff;
            }

            .progressbar{
                height:6px;
            width:100%;
            background-color: rgba(#fff, 0.5);
            border-radius: 2px;
            color:#fff;
            }
            
            .current-progressbar{
                height:6px;
                 width: 0%;
                background-color: #fff;
                border-radius: 2px;
            }
        }
    }

    .right {
        height: 100vh;
        width: 50%;

        .panel{
            width: 90%;
            padding:126px 5% 0 5%;

            .header{
                color:#80868B;
            h1{
                margin:24px 0 5px 0;
                font-size: 42px;
                font-family: boutiqueGothic;
                font-weight: 600;
            }
            p{
                font-size: larger;
                font-weight: 500;
            }
            }

            textarea{
                width: 100%;
                margin:24px 0;
                resize:none;
                outline: none;
            }


            
        }
        

    }
}